.App{
    display: flex;
    background-color: #2F3C7E;
    color: white;
    height: 100vh;
}
.page::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .page {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }